//-------------------TYPOGRAPHY-------------------

//$link-colour
//$link-hover

//------------------- Headers -------------------
$header-font: 'Oswald', sans-serif;
$header-size: 2.875rem;
$header-weight: 700;

//------------------- Sub headers -------------------
$subheader-size: 2.4375rem;

//------------------- Breadtext -------------------
$bread-font: 'Roboto Condensed', sans-serif;
$bread-size: 1rem;
$breadtext-height: null;

//------------------- Link text -------------------
$link-font: 'Roboto', sans-serif;
$link-size: 0.875rem;

//------------------- Navbar -------------------
$nav-weight: 700;

//------------------- Cards -------------------
$cardheader-size: 1.25rem;
$cardtext-size: 1rem;
$cardtext-height:1.375rem;


//------------------- MARGINS -------------------

//------------------- COLOURS -------------------
$brand-colour: #6688CC;
$bg-colour: #FFFAFA;
$accent-colour: #FFC0CB;
$font-colour: #212121;
$nav-colour: #FFFFFF;
$header-colour: #FFFFFF;
$footer-text: #BBBBBB;
$footer-colour: #232323;


